lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
public/css/main.css

#user_uploads
truman/uploads/user_post
truman/uploads/user_avatar

#data-exports
truman/outputFiles

# API keys and secrets
truman/.env

# Dependency directory
truman/node_modules
truman/bower_components

# Editors
.idea
*.iml
*.sublime-project
*.sublime-workspace

# OS metadata
.DS_Store
Thumbs.db
