MONGODB_URI=mongodb://localhost:27017/YouShouldChangeThis
SESSION_SECRET=YourSessionSecretgoeshere
OPENAI_API_KEY=REPLACE-WITH-YOUR-OPENAI-API-KEY

POST_SURVEY=https://cornell.ca1.qualtrics.com/jfe/form/SV_dif271485YMPUr4?r_id=
POST_SURVEY_WITH_QUALTRICS=TRUE
RESEARCHER_EMAIL=abcdefg@cornell.edu
IDENTIFIER="Mechanical Turk ID"
NUM_DAYS=2
SITE_NAME=FreshView
SITE_LOGO=/public/freshview_logo.svg
SITE_FAVICON=/public/favicon.svg
SITE_PICTURE=/public/home_logo.svg
NUM_EXP_CONDITIONS=3
EXP_CONDITIONS_NAMES=C1,C2,C3
FEED_ORDER=CHRONOLOGICAL
CDN=https://d35ayucabfexcy.cloudfront.net

REMOVE_FLAGGED_CONTENT=FALSE