body {
    background-color: #F5F8FA;
    padding: 0em;
}

.ui.borderless.fixed.menu {
    background: #ffffff;
    border: none;
    box-shadow: 0 6px 18px rgba(23,32,51,0.06);
    padding: .5rem 0;
}

#logo { 
    height: 42px; 
    width: 100%
}

#mobile_logo { 
    height: 36px; 
    width: 100%;
}

.ui.menu .item { 
    padding: .6rem 1rem; 
}

.ui.simple.dropdown.item img.ui.mini.spaced.circular.image { 
    box-shadow: 0 2px 8px rgba(23,32,51,0.06);
 }


/*Page Container*/

#pagegrid {
    justify-content: center;
}

#pagecontainer {
    padding-top: 50px;
    justify-content: center;
}


/*General CSS*/

.hidden {
    display: none;
}

a,
button,
.ui.button {
    cursor: pointer;
}


/* Header CSS */

.ui.menu .item>i.icon {
    margin: 0 !important;
}

.ui.mini.image {
    height: 35px;
}


/*Other*/

.ui.fluid.card>.content>.description {
    font-size: 1.05em;
}


/* Image Upload*/

.image-upload>input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}